.car-search-bar {
  display: flex;
}

.car-form-control {
  height: 40px;
  width: 100%;
}

.car-search-bar input {
  padding: 0 15px;
  border: 1px solid var(--car-color-searchbar-border);
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  border-right: none;
}

.car-search-bar input:focus {
  outline: none;
}

.car-search-bar input::placeholder {
  color: var(--car-color-searchbar-font-placeholder);
}

.car-btn-search {
  width: 77px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: var(--car-color-btn-bg);
  color: var(--car-color-btn-font);
}
