header {
  background-color: var(--car-color-header-bg);
  height: 70px;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 20px;
}

nav h1 {
  color: var(--car-color-header-font);
  font-size: 24px;
  padding: 20px;
}
